body {
  text-align: center;
  background: #F7F7F7;
}

.category-name {
  color: black;
  font-size: 40px;
  font-weight: bold;
}

.category-container {
  background-color: rgb(158, 244, 166);
  border-radius: 6px;
  margin: 10px;
}

.category-bar li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

.category-bar a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding: 5px 7px;
  font-weight: bold;
}

.category-bar a:hover {
  background-color: rgb(6, 80, 43);
  color: white;
}

.menu-bar {
  text-align: center;
  background: #161616;
  padding: 0px 50px;
}

.navigation {
  overflow: hidden;
  background-color: #161616;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.second-nav {
  background-color: #161616;
  padding: 20px 100px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.navigation a, .second-nav a {
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  padding-bottom: 8.5px;
  padding-left: 10px;
  padding-right: 10px;
}

.second-nav a {
  text-decoration: none;
}

.menu-bar li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

.menu-bar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  padding-bottom: 8.5px;
  padding-left: 5px;
  padding-right: 5px;
}

.second-nav a:hover, .navigation a:hover {
  background-color: dodgerblue;
  text-decoration: none;
}

#nav-username {
  color: dodgerblue;
  font-size: 25px;
  padding-bottom: 8.5px;
  padding-left: 10px;
  padding-right: 10px;
}

#site-logo {
  height: 70px;
  width: auto;
  margin-right: 30px;
  font-weight: bold;
  color: blue;
  font-style: italic;
  letter-spacing: 5px;
}

footer {
  background-color: #161616;
  color: #a3a3a3;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-weight: 600;
  padding: 5px 0;
  font-size: 1.5rem;
}

.push {
  height: 70px;
}

#not-found-head {
  color: rgb(13, 106, 163);
  font-size: 200px;
}

#not-found-details {
  font-size: 40px;
  color: rgb(13, 106, 163);
}

#not-found-zero {
  color: #FE951C;
}

.selected {
  color: blue !important;
  font-style: italic;
}

.table-image {
  max-width: 100px;
}

.profile-info {
  text-align: left;
  color: rgb(6, 88, 139);
  background-color: rgb(234, 243, 248);
  padding: 10px;
  border-radius: 20px;
}

.profile-info p {
  font-size: 30px;
}

.about-page {
  position: relative;
}

.about-content {
  text-transform: uppercase;
  color: rgb(13, 106, 163);
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.card-listing {
  width: 20%;
  
  margin: 10px;
  padding: 2px;
  border: 1px solid grey;
}

.card-listing:hover {
  box-shadow: 0 1px 5rem rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  border: none;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  z-index: 1;
}

.login form {
  display: grid;
  width: 25%;
  margin: 0 auto;
}

.login label {
  font-size: 1.2rem;
  font-weight: bold;
}

.login input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 7px;
}

.login input[type="submit"] {
  width: 35%;
  margin: 0 auto;
  border: 2px solid dodgerblue;
  text-align: center;
  font-size: 14px;
  background: dodgerblue;
  color: white;
  border-radius: 7px;
  margin-top: 20px;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
}

.login input[type="submit"]:hover {
  color: dodgerblue;
  background: transparent;
  font-weight: bold;
}

.register {
  padding-top: 2em;
}

.register label {
  font-weight: bold;
}

.register form {
  display: grid;
  width: 25%;
  margin: 0 auto;
}

.register input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 7px;
}

.register input[type="submit"] {
  width: 25%;
  margin: 0 auto;
  border: 2px solid dodgerblue;
  text-align: center;
  font-size: 14px;
  background: dodgerblue;
  color: white;
  border-radius: 7px;
  margin-top: 20px;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
}

.register input[type="submit"]:hover {
  color: dodgerblue;
  background: transparent;
  font-weight: bold;
}

.createPost, .editPost {
  padding-top: 2em;
}

.createPost label, .editPost label {
  font-weight: bold;
}

.createPost form, .editPost form {
  display: grid;
  width: 50%;
  margin: 0 auto;
}

.createPost input, .editPost input {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 7px;
  width: 50%;
}

#description {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
}

.createPost input[type="submit"] {
  width: 25%;
  margin: 0 auto;
  border: 2px solid dodgerblue;
  text-align: center;
  font-size: 14px;
  background: dodgerblue;
  color: white;
  border-radius: 7px;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
}

.createPost input[type="submit"]:hover {
  color: dodgerblue;
  background: transparent;
  font-weight: bold;
}

#selectForm select {
  width: 50%;
}

#editBtn {
  width: 25%;
  margin: 0 auto;
  border: 2px solid black;
  text-align: center;
  font-size: 14px;
  background: rgb(255, 221, 30);
  color: black;
  border-radius: 7px;
  font-weight: bold;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
}

.card-wrapper {
  margin-top: 20px;
}

.card-wrapper img {
  width: 50%;
  height: auto;
  background-color: rgb(134, 170, 211);
  padding: 1px;
  border: 1px solid #173464;
}

.card-description {
  border: 1px solid grey;
  width: 50%;
  margin: 0 auto;
}

#message {
  width: 50%;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid grey;
}

.messageForm input[type="submit"] {
  width: 20%;
  margin: 0 auto;
  border: 2px solid dodgerblue;
  text-align: center;
  font-size: 14px;
  background: dodgerblue;
  color: white;
  border-radius: 7px;
  margin-top: 20px;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
  padding: 4px;
}

.messageForm input[type="submit"]:hover {
  color: dodgerblue;
  background: transparent;
  font-weight: bold;
}

#admin-table {
  width: 100%;
  table-layout: fixed;
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
  background: white;
  font-size: 1rem;
}

#admin-table td {
  border: 1px solid black;
  padding: 5px 10px;
}

#admin-table th {
  border: 1px solid black;
  padding: 5px 10px;
}

#admin-table thead th {
  text-align: center;
  background: rgb(30, 30, 30);
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
}

#admin-table tr:hover td {
  background: dodgerblue;
  color: black;
  border-color: transparent;
}
#readMore{

}

